:host {
    display: flex;
    align-items: center;
    justify-content: center;
    
    div {
        margin: 1.5rem;
    }

    @media only screen and (max-width: 900px) {
        flex-direction: column;
        font-size: small;

        div {
            margin: 0.5rem;
        }
    }
}