:host {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    @media only screen and (max-width: 900px) {
        flex-direction: column;
        font-size: small;

        div {
            margin: 0.5rem;
        }
    }
}