:root {
    --dark-gray: oklch(19.5% 0.003 247.96);
    --white: oklch(100.0% 0 0);
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
    --weight-light: 200;
    --weight-med: 500;
    --weight-bold: 700;
}

body {
    font-family: var(--plus-jakarta-sans);
    font-weight: var(--weight-med);

    .font-large {
        font-size: large;
    }

    .font-small {
        font-size: small;
    }

    button {
        cursor: pointer;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem;
        font-family: var(--plus-jakarta-sans);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--dark-gray);
        color: var(--white);

        a:visited {
            color: var(--white);
        }
    }
}

@media (prefers-color-scheme: light) {
    html {
        color: var(--dark-gray);

        a:visited {
            color: var(--dark-gray);
        }
    }
}