<div>
    <p>Thanks for trying this app!<p> 
    <p>For a more personalized experience, this app needs permission to read your Spotify data.</p>
    <p>You should know:</p>
    <ul>
        <li>We cannot make any changes to your account or playlists.</li>
        <li>We request access to some user data to improve our track recommendations.</li>
        <li>You can revoke permissions anytime <a href="https://www.spotify.com/account/apps/" target="_blank">here</a>.</li>
    </ul>
    <button (click)="login()">Grant permissions</button>
    <a class="font-small" href="https://google.com">No, not now.</a>
</div>