:host {

    input {
        font-family: var(--plus-jakarta-sans);
        min-width: 90%;
        background-color: var(--dark-gray);
        padding: 0.25rem;
        color: var(--white);
        border: none;
    }

    input::placeholder {
        font-family: var(--plus-jakarta-sans);
        font-weight: var(--weight-med);
    }

    button {
        max-width: 5%;
        font-weight: var(--weight-bold);
        font-size: 1.5rem;
        background-color: transparent;
        color: white;
    }
}