:host {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;

    input {
        background-color: var(--dark-gray);
        padding: 0.25rem;
        color: white;
    }

    input::placeholder {
        font-family: var(--plus-jakarta-sans);
        font-weight: var(--weight-med);
    }

    button {
        font-weight: var(--weight-bold);
        background-color: transparent;
        color: white;
        border: none;
    }
}